body{
    margin:0;
    padding:0;
    background-color: lightcoral;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

ul {
    padding-left: 0%;
}

ol {
    text-align: left;
}